html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: var(--fontPri);
    margin: 0%;
    padding: 0%;
}
*,*::before,*::after {
    box-sizing: inherit;
}
.body {
    background: rgb(12,166,120);
    background: linear-gradient(90deg, rgba(12,166,120,1) 0%, rgba(21,170,191,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
:root {
    --fontPri: 'Roboto Mono', monospace;
    --fontSec: 'Architects Daughter', cursive;

    --blue1: #F0ECE3;
}
.tittle {
    font-size: 5rem;
    font-family: var(--fontSec);
    text-transform: uppercase;
    color: var(--blue1);
    text-align: center;
}
.contenedor {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    margin-bottom: 3rem;
}
.form__row {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.form__select-container {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    margin: 2rem 4rem;
}
.results {
    font-size: 3rem;
    font-weight: 600;
}
#resultado p {
    font-size: 2.2rem;
    border-bottom: 1px solid #04293A;
    padding: 3rem 0;
    text-align: center;
    text-transform: uppercase;
}
.sinResultados {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: #ff6b6b;
    padding: 1rem 0;
    width: 70vw;
    margin-bottom: 2rem;
}
@media (min-width:  1200px) {
    .form__row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .sinResultados {
        font-size: 3rem;
    }
}
